<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit a Todo Item:</h1>
    <!-- no action sends data to current page -->
    <form method="POST">
       <!-- below makes sure info submitted has come from the app -->
        {% csrf_token %}
        <!-- render form as template var -->
        {{ form.as_p }}
       <div>
           <p>
                <button type="submit">Update Item</button>
            </p>
       </div>
   </form>

   
</body>
</html>